<div class="container">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><strong>simpleCam</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-supported-content">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {% if request.endpoint == 'index' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('index') }}">Home</a>
					</li>
					<li class="nav-item {% if request.endpoint == 'live' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('live') }}">Live</a>
					</li>
					<li class="nav-item {% if request.endpoint == 'archive' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('archive') }}">Archive</a>
					</li>
				</ul>
				<ul class="navbar-nav nav-flex-icons">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i>{{username}}</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/user/logout">Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</div>
