{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="col-12 text-center">
		<img class="video" src="{{ url_for('videostream') }}">
	</div>
	<div class="col-12 text-center">
		<button id="listen" class="btn btn-success btn-lg"><i class="fas fa-volume-mute fa-fw"></i><span>Listen</span></button>
	</div>
</div>

<!-- Player -->
<script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>

<!-- Live -->
<script type="text/javascript" src="{{ url_for('static', filename='js/live.js') }}"></script>
{% endblock %}
